 body { 
 background:#EDEDED; 
 font-family:sans-serif; 
}

/* LAYOUT RULES */

header {
    padding:0.700em 25%;
    font-family:sans-serif;
        font-weight:400;
        color:#000000;
}

nav { 
 background:transparent;
 padding:0.5em 17%;
color:#81DAF5
} 

article { 
 background:#000000; 
 padding:4em 6% 0.625em; 
 color:#FFFFFF; 
 font-size:0.9em; 
} 
 
footer { 
 padding:0.700em 28%; 
 color:#81DAF5; 
}

/* HEADING RULES */ 
 
header h1 { 
 margin:5px 0; 
 font-size:60px; 
 padding-bottom:5px;
} 

/* PARAGRAPH RULES */ 
 
article p { 
 margin:15px ; 
 text-indent:40px;}

/* LIST RULES */ 
 
article ul { 
 margin:20px 0; 
} 
 
article li { 
 margin-left:35px; 
 margin-bottom:15px; 
} 

/* LINK RULES */

nav a:link, nav a:visited {
    font-family:sans-serif;
    font-size:18px;
    font-weight:400;
    padding:0 22px;
    color:#81DAF5
    text-decoration:none;
}

nav a:hover, nav a:active {
    color:#FFFFFF;
    text-decoration:bold;
}

article a:link, article a:visited {
    color:#81DAF5;
    text-decoration:none;

}

article a:hover, article a:active {
    text-decoration:bold;
    color:#EDEDED;

}

@media screen and (max-width: 600px) {

    body {
        padding: 5%;
    }
    nav {
        width: 100%;
    }
    
    
    
    #content {
        clear: left;
        margin-left: 0%;
        width: 100%;
        
}
    
