 body { 
 background:#FFFFFF; 
 font-family:Arial, Helvetica, sans-serif; 
}

/* LAYOUT RULES */

header {
    padding:0.700em 25%;
    font-family:"Roboto Condensed", Arial, Helvetic, sans-serif;
        font-weight:400;
        color:#000000;
}

nav { 
 background:url(img/purp.jpg);
 padding:0.8em 14%;
color:#81DAF5
} 

article { 
 background:#000000; 
 padding:2.5em 5% 0.625em; 
 color:#FFFFFF; 
 font-size:0.9em; 
} 
 
footer { 
 padding:0.700em 27%; 
 color:#81DAF5; 
}

/* HEADING RULES */ 
 
header h1 { 
 margin:10px 0; 
 font-size:70px; 
 padding-bottom:10px; 
} 

/* HEADING RULES */ 
 
header h1 { 
 margin:10px 0; 
 font-size:60px; 
 padding-bottom:10px; 
} 

/* PARAGRAPH RULES */ 
 
article p { 
 margin:30px ; 
} 
 
/* LIST RULES */ 
 
article ul { 
 margin:17px 0; 
} 
 
article li { 
 list-style-type:circle; 
 margin-left:26px; 
 margin-bottom:12px; 
} 

/* LINK RULES */

nav a:link, nav a:visited {
    font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:400;
    padding:0 22px;
    color:#81DAF5
    text-decoration:none;
}

nav a:hover, nav a:active {
    color:#000000;
    text-decoration:underline;
}

article a:link, article a:visited {
    color:#81DAF5;
    text-decoration:none;
}

article a:hover, article a:active {
    text-decoration:underline;
}

@media screen and (max-width: 600px) {

    body {
        padding: 5%;
    }
    nav {
        width: 100%;
    }
    
    
    
    #content {
        clear: left;
        margin-left: 0%;
        width: 100%;
        
}
